@model MorningModel

@{
	int id = Model.MorningPlanId;
}

<div class="row form-group mb-3 d-flex align-items-center justify-content-center align-content-center text-center flex-column">
	<div class="col-md-4">
		<h3 class="mt-3" style="color: white;">Zmiana godziny bazowej</h3>
		<form action="/Home/EditDb" method="post">
			<div class="form-group mb-3 d-flex align-items-center justify-content-center align-content-center text-center flex-column">
				<label class="control-label control-label-text" for="Title"><b>Godzina bazowa</b></label>
				<input class="form-control form-text-input" type="time" id="BaseTime" name="BaseTime" value="@Model.MorningPlanBaseTime"/>
			</div>
			<input type="hidden" name="id" id="id" value="@Model.MorningPlanId" />


			<input type="submit" value="Zapisz" class="btn btn-top" />
			<a asp-controller="Home" asp-action="Details" asp-route-id="@Model.MorningPlanId" class="btn btn-top">Anuluj</a>
		</form>
	</div>
</div>

}