@model List<IndexModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center align-content-center text-center flex-column" style="margin-top:1%">
    <a asp-action="Create" class="btn btn-lg" style="background-color:#272640; color: #006466"><b>Utwórz nowy plan</b></a>
</div>


<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        TimeSpan baseTime = (TimeSpan)item.BaseTime;
        <div class="card m-3 time-card" style="width: 50%;">
            <div class="card-body">
                <h1 class="card-title text-center time-card-title">@item.Title</h1>
                <h3 class="card-subtitle mb-2 text-muted text-center time-card-calculationTime">@baseTime.ToString(@"hh\:mm")</h3>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="stretched-link"></a>
            </div>
        </div>
        
    }
</div>
