html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #292829;
}

.topBar {
    background-color: #292829;
    height: 60px;
    width: 100%;
    text-align: center;
}

.time-card {
    background-color: #565450;
}

@media only screen and (max-width: 600px) {
    .time-card-title {
        font-size: 6vw;
    }
}

.time-card-title {
    color: #fa3a3b;
}

.time-card-calculationTime {
    font-size: 24px;
    color: #fdffff;
}

.time-card-baseTime {
    color: #fdffff;
}

.form-text-input {
    background-color: #565450;
    border: none;
    color: #fdffff;
}

    .form-text-input:focus {
        background-color: #565450;
        border-color: #FF0000;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
        color: #fdffff;
    }

.control-label-text {
    font-size: 20px;
    color: #fa3a3b;
}

.btn-create {
    background-color: #565450;
    color: #fdffff;
}

    .btn-create:hover {
        color: #fa3a3b;
    }

.top-hello {
    font-size: 24px;
    color: #fdffff;
}

    .top-hello:hover {
        color: #fa3a3b;
    }

.btn-top {
    background-color: #565450;
    color: #fdffff;
    text-decoration: none;
}

    .btn-top:hover {
        color: #fa3a3b;
    }


